<content md-content>
    <!-- <div *ngFor="let sectionKeyValuePair of settings | mapToIterable">
      <mat-card >
        {{sectionKeyValuePair.key}}
        <div *ngFor="let settingKeyPairValue of sectionKeyValuePair.value">
        {{settingKeyPairValue.value}}
        </div>
      </mat-card>
     <p></p></div> -->
  </content>
