<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px">
  <mat-checkbox
    [(ngModel)]="checkboxState"
    (change)="checkboxChange()"
  ></mat-checkbox>
  <mat-form-field>
    <mat-select [(ngModel)]="selectValue" (selectionChange)="selectionChange()">
      <mat-option value="None">None</mat-option>
      <mat-option value="All">All</mat-option>
      <mat-option *ngFor="let option of options" [value]="option">{{
        option
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
